.home-container-post{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.para1-post{
    font-family: DM Sans;
    font-size: 2rem;
    font-weight: 700;
    color: black;
    position: relative;
    bottom: 4vh;
    left: 3vw;
}
.name-post{
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    position: relative;
    bottom: 8vh;
    left: 3vw;
}
.name-input-post{
    border: 2px solid #C2C2C2;
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 4vh;
    width: 25vw;
    font-family: DM Sans;
    color: #ADADAD;
    font-size: 15.65px;
    font-weight: 500;
    padding-left: 1vw;
    position: relative;
    left: 3vw;
}
.logo-post{
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    position: relative;
    bottom: 9vh;
    left: 3vw;
}
.logo-input-post{
    border: 2px solid #C2C2C2;
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 4vh;
    width: 25vw;
    font-family: DM Sans;
    color: #ADADAD;
    font-size: 15.65px;
    font-weight: 500;
    padding-left: 1vw;
    position: relative;
    left: 4.3vw;
}
.position-post{
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    position: relative;
    bottom: 10vh;
    left: 3vw;
}
.position-input-post{
    border: 2px solid #C2C2C2;
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 4vh;
    width: 25vw;
    font-family: DM Sans;
    color: #ADADAD;
    font-size: 15.65px;
    font-weight: 500;
    padding-left: 1vw;
    position: relative;
    left: 4.5vw;
}
.salary-post{
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    position: relative;
    bottom: 11vh;
    left: 3vw;
}
.salary-input-post{
    border: 2px solid #C2C2C2;
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 4vh;
    width: 25vw;
    font-family: DM Sans;
    color: #ADADAD;
    font-size: 15.65px;
    font-weight: 500;
    padding-left: 1vw;
    position: relative;
    left: 3vw;
}
.jobtype-div-post{
    display: flex;
    flex-direction: row;
    gap: 6vw;
    position: relative;
    bottom: 10vh;
    left: 3vw;
}
.jobtype-para-post{
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}
#jobtype-post{
    border: 2px solid #C2C2C2;
    border-radius: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
    height: 4vh;
    width: 10vw;
    font-family: DM Sans;
    color: #ADADAD;
    font-size: 15.65px;
    font-weight: 500;
    padding-left: 1vw;
}
.remote-div-post{
    display: flex;
    flex-direction: row;
    gap: 3.5vw;
    position: relative;
    bottom: 14vh;
    left: 30vw;
}
.remote-para-post{
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}
#remote-post{
    border: 2px solid #C2C2C2;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FFFFFF;
    height: 4vh;
    width: 10vw;
    font-family: DM Sans;
    color: #ADADAD;
    font-size: 15.65px;
    font-weight: 500;
    padding-left: 1vw;
}
.location-post{
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    position: relative;
    bottom: 13vh;
    left: 3vw;
}
.location-input-post{
    border: 2px solid #C2C2C2;
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 4vh;
    width: 25vw;
    font-family: DM Sans;
    color: #ADADAD;
    font-size: 15.65px;
    font-weight: 500;
    padding-left: 1vw;
    position: relative;
    left: 6.1vw;
}
.description-post{
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    position: relative;
    bottom: 14vh;
    left: 3vw;
}
.description-input-post{
    border: 2px solid #C2C2C2;
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 6vh;
    width: 25vw;
    font-family: DM Sans;
    color: #ADADAD;
    resize: none;
    font-size: 15.65px;
    font-weight: 500;
    padding-left: 1vw;
    padding-top: 1.2vh;
    position: relative;
    left: 2.6vw;
}
.about-post{
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    position: relative;
    bottom: 16vh;
    left: 3vw;
}
.about-input-post{
    border: 2px solid #C2C2C2;
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 6vh;
    width: 25vw;
    font-family: DM Sans;
    color: #ADADAD;
    font-size: 15.65px;
    resize: none;
    font-weight: 500;
    padding-top: 1.2vh;
    padding-left: 1vw;
    position: relative;
    left: 2.3vw;
}
.skills-post{
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    position: relative;
    bottom: 15vh;
    left: 3vw;
}
#skills-select-post{
    border: 2px solid #C2C2C2;
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 5vh;
    cursor: pointer;
    width: 8vw;
    font-family: DM Sans;
    color: #ADADAD;
    font-size: 15.65px;
    font-weight: 500;
    padding-left: 1vw;
    position: relative;
    bottom: 18vh;
    left: 13.2vw;
}
.skills-div-post{
    height: 3vh;
    width: 57vw;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    position: relative;
    left: 3vw;
    bottom: 17vh;
}
.skills-set-post{
    background-color: #FFEEEE;
    border-radius: 0px 2px 2px 0px;
    display: flex;
    flex-direction: row;
    gap: 0.4vw;
}
.each-skill-post{
    font-family: DM Sans;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: left;
    position: relative;
    left: 0.2vw;
    bottom: 1.2vh;
}
.cross-div-post{
    background-color: #FF6B6B;
    border-radius: 0px 2px 2px 0px;
    width: 1.5vw;
    cursor: pointer;
}
.cross-btn-post{
    position: relative;
    top: 0.35vh;
    left: 0.25vw;
}
.info-post{
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    position: relative;
    bottom: 17vh;
    left: 3vw;
}
.info-input-post{
    border: 2px solid #C2C2C2;
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 4vh;
    width: 25vw;
    font-family: DM Sans;
    color: #ADADAD;
    font-size: 15.65px;
    resize: none;
    font-weight: 500;
    padding-left: 1vw;
    position: relative;
    left: 4.5vw;
}
.foot-div-post{
    width: 20vw;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    position: relative;
    bottom: 18vh;
    left: 23.5vw;
}
.cancel-btn-post{
    width: 7vw;
    height: 5vh;
    color: #C2C2C2;
    border: 0.85px solid #CECECE;
    border-radius: 7px;
    cursor: pointer;
    background-color: #FFFFFF;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}
.add-btn-post{
    width: 7vw;
    height: 5vh;
    border: none;
    background-color: #FF6B6B;
    border-radius: 7px;
    cursor: pointer;
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;   
}